* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    /*background-color: rgba(63, 97, 63, 0.792);*/
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
nav a {
    text-decoration: none;
    color:black;
    font-weight: bold;
}
.navtitle strong{
    color: white;
    font-size: 20px;
}
#btnSearch {
    background-color: green;
    width: 60px;
    height: 30px;
}
body {
    background-image: url(./images/back.jpg);
}
h1 {
    color: white;
    margin: 30px;
    margin-left: 80px;
}
strong {
    color: white;
}
#description{
    margin-left: 70px;
}
#btnbook {
    background-color: green;
    width: 75px;
    height: 35px;
}
#socialmedia {
    list-style-type: none;
    position: fixed;
    left: 20px;
    top: 65%;
}
#socialmedia li {
    margin: 10px 0;
}
#socialmedia img {
    filter: brightness(0) invert(1); /* Convertit le noir en blanc */
    transition: filter 0.3s; /* Animation au survol */
}
.navtitle img {
    filter: brightness(0) invert(1);
    transition: filter 0.3s;
}



/* Style pour la liste des icônes sociales 
.social-media {
    position: fixed;
    left: 20px; /* Distance du bord gauche comme dans l'image 
    top: 50%;
    transform: translateY(-50%);
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Style pour chaque icône 
  .social-media li {
    margin: 15px 0; /* Espacement vertical entre les icônes 
  }

  .social-media a {
    color: #fff; /* Couleur des icônes (blanc comme dans l'image) 
    font-size: 1.5em; /* Taille des icônes 
    text-decoration: none;
    transition: color 0.3s; /* Animation au survol 
  }

  .social-media a:hover {
    color: #007bff; /* Couleur au survol (optionnel) 
  }*/